<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Mood</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Record Your Mood</h1>
        </header>
        <form method="POST">
            <label>Your Mood Today</label>
            <input type="text" name="mood" placeholder="How are you feeling today?">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>