<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Journal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Mood Journal</h1>
        </header>
        <nav class="nav-links">
            <a href="/about">About</a>
            <a href="/add-mood">Add Mood</a>
            <a href="/moods">View Moods History</a>
        </nav>
    </div>

    <footer class="footer container">
        <div class="brand">
            <h1><span>S</span>yed <span>M</span>ujtaba</h1>
        </div>
        <h2>Get All Of Your AI Solutions here.</h2>
        <div class="social-icon">
            <!-- Github -->
            <div class="social-item">
                <a href="https://github.com/sayyedmujtaba" target="_blank"> <img width="100" height="100" src="https://img.icons8.com/color-glass/100/github--v1.png" alt="Github Profile"/></a>
            </div>
            <!-- LinkedIn -->
            <div class="social-item">
                <a href="https://www.linkedin.com/in/syed-mujtaba-hussain-ai/" target="_blank"><img width="100" height="100" src="https://img.icons8.com/color/100/linkedin.png" alt="LinkedIn Profile"/></a>
            </div>
        </div>
        <p>Copyright &copy; Syed Mujtaba Hussain. All rights reserved</p>
    </footer>
    
</body>
</html>